<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- // TODO: roles in db and controller + action - now we have only one controller and it works -->
	<http auto-config="true">
		<intercept-url pattern="/list**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/add**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/edit**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/saveCustomer**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<logout logout-url="/logout" logout-success-url="/"/>
	</http>

	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="user" password="123" authorities="ROLE_USER" />
		<user name="admin" password="123" authorities="ROLE_ADMIN" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>


</beans:beans>
